body{
    background-color: gray;

}
.error {
    color: black;

}
.backbtn button{
    border-radius: 18px;
    border: 1px solid black ;
    background-color: aliceblue;
    color: black;
    width: 120px;
    height: 40px;

}
.backbtn button :hover{
    background-color: gray;
    border-radius: 13px;

}
.backbtn{
    display: grid;
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-content: center;
    
}