body{
    background-color: gray;

}
.error {
    color: black;

}
.backbtn button{
    border-radius: 18px;
    border: 1px solid black ;
    background-color: aliceblue;
    color: black;
    width: 200px;
    height: 50px;
    place-self: center;
    place-content: center;
    justify-content: center;
} 
.backbtn button :hover{
    background-color: gray;
    border-radius: 13px;

}
.backbtn{
    display: grid;
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-content: center;
    width: 200px;
    height: 50px;
}
.homebtn button{
border-radius: 10px;
    width: 200px;
    height: 70px;
}








.container{ 
    
    -webkit-user-select: none; /* Safari */
   -ms-user-select: none; /* IE 10 and IE 11 */
   user-select: none; /* Standard syntax */
width: 100%;
height: 100vh;
background-color: rgb(32, 166, 184);
background-position: center;
display: flex;
align-items: center;
justify-content: center;


}

form{
    -webkit-user-select: none; /* Safari */
   -ms-user-select: none; /* IE 10 and IE 11 */
   user-select: none; /* Standard syntax */   
   
display: flex;
flex-direction: column;
padding: 2vw 4vw;
width: 80%;
max-width: 500px;
border-radius: 10px;
box-shadow: 0 4px 30px rgba(0,0,0,0.1);
backdrop-filter: blur(5px);
border: 1px solid rgba(255,255,255,0.3);
background: rgba(255,255,255,0.2);
color: #fff;
}
form h3{
   color: rgb(255, 255, 255);
   font-weight: 800;
   margin-bottom: 20px;
cursor: pointer;

}

form input, form textarea{
border: 0;
margin: 10px 0;
padding: 20px;
outline: none;
background: rgb(210, 228, 248);
font-size: 16px;
border-radius: 10px;
}
form button{
   padding: 15px;
   background: rgb(210, 228, 248);
   color: #077a7a;
   font-size: 18px;
   border: 0;
   outline: none;
   cursor: pointer;
   width: 150px;
   margin: 20px auto 0;
   border-radius: 30px;
}
